page-home {

    ion-header {
        .custom-button {
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-left: 6px;

            svg: {
                width: inherit;
                height: inherit;
                fill: #333333;
            }

            &.active svg {
                fill: #387ef5;
            }
        }
   }

   .ingredients-list {
       //background-color: #eee;

       .inc {
           display: inline-block;
           white-space: nowrap;
           margin: 0 2px 4px 0;
           padding: 6px 12px;
           color: #697780;
           background-color: #d8dcdf;
           border-radius: 2px;
       }
   }
}
